APP_ENV=production
APP_DEBUG=true
DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=development
DB_USER=sqlite
DB_PASSWORD=2009
TZ=America/Porto_Velho

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=2009
REDIS_DATABASE=1
REDIS_PREFIX=SESS:
REDIS_TIMEOUT=2.5
REDIS_READ_TIMEOUT=2.5
REDIS_PERSISTENT=1

GOOGLE_CLIENT_ID=727126710458-n0vgbb6k7009rvmb0ljo96jkjs3rnn31.apps.googleusercontent.com

OPCACHE_VALIDATE_TIMESTAMPS=1
XDEBUG_MODE=off